.action-buttons {
  display: flex;
  gap: 10px;
}

.icon-btn {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.1);
  background: rgba(255,255,255,0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.icon-btn:hover {
  background: #B9FB6A;
}

.icon-btn:hover svg path {
  stroke: black;
  fill: black;
}

.delete-btn:hover {
  background: #ff4d4d;
}

.delete-btn:hover svg path {
  stroke: white;
}